go 1.25.6

use (
	./argo
	./blueprints
	./chaos
	./conductor
	./containers
	./egress-proxy
	./forge
	./gatekeeper
	./gitea_integration
	./hooks
	./mcp
	./outpost
	./outpost-gateway
	./registry
	./tickets
	./workflows
)
